.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.box {
  background-color: aqua;
  border-radius: 5px;
  width: 380px;
  height: 460px;
}

.title-box{
  background-color: #EDEDED;
  height: 50px;
  display: flex;
  align-items: center;
}