.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D5D5D5;
}

.box {
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 380px;
}

.title-box{
  background-color: #EDEDED;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.content-box{
  padding: 10px;
}

h1{
  font-size: 23px;
}

.icon{
  width: 80px;
  height: 80px;
}

.temperatureButton{
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #4992DF;
  color: #FFFFFF;
}

.temperatureButton:hover{
  background-color: #5FA9F8;
}